<app-page-header page-title="Opções de Financiamento" [show-button]="false"></app-page-header>

<div class="w-100 mb-5 clearfix text-small">

  <!-- Contract Values -->
  <div class="contract-card col-md-3 float-left pl-0">
    <mat-card >   
      <h5>Contrato</h5>
      <mat-card-content>         
        <p>Total: {{contractValue | currency:'BRL':'symbol':'0.2-2':'pt'}}</p>
        <p>Entrada: {{contractEntry | currency:'BRL':'symbol':'0.2-2':'pt'}}</p>
      </mat-card-content>
    </mat-card>
  </div>
        
  <!-- Previsions -->
  <div class="savings-card col-md-4 float-left pr-0"> 
    <mat-card>   
      <h5>Previsões</h5>     
      <mat-card-content >    

        <!-- Previsions Values -->
        <mat-selection-list #selections (selectionChange)="onSelection(selections.selectedOptions.selected)">          
          <mat-list-option class="w-100" *ngFor="let entry of prevTotalByType" checkboxPosition="before" [value]='entry'>
            {{ entry.type }}:&nbsp;{{ entry.amount | currency:'BRL':'symbol':'0.2-2':'pt' }}
          </mat-list-option>          
        </mat-selection-list>

        <mat-divider></mat-divider>
        
        <!-- Prevision Total -->
        <div class="mt-2">
          <mat-list>
            <mat-list-item>
              <span class="font-weight-bold">{{ prevTotal | currency:'BRL':'symbol':'0.2-2':'pt' }}</span> 
            </mat-list-item>
          </mat-list>
        </div>   
      </mat-card-content>
    </mat-card>    
  </div>
</div>

<div class="mb-5 clearfix">
  <button 
    class="btn btn-lg btn-warning" 
    (click)="newSimulation()" 
    [disabled]="selections.selectedOptions.selected.length > 0 ? false : true">
    <fa-icon [icon]="faPlus"></fa-icon>&nbsp;nova simulação</button>
</div>

<!-- <div class="mb-5">
  <app-simulation-form *ngIf="simulation" class="mb-5 w-auto" [simulation]="simulation" [showForm]="showForm"></app-simulation-form>
</div> -->

<app-page-header page-title="Simulações" [show-button]="false"></app-page-header>

<div class="mb-5 w-auto">
  <table mat-table #table multiTemplateDataRows matSort [dataSource]="resources" class="table-hover mat-thead-dark ">
    <!-- Comoposition -->
    <ng-container matColumnDef="composition" >
      <th mat-header-cell *matHeaderCellDef> Composição </th>
      <td mat-cell *matCellDef="let resource"> {{resource.composition}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    
    <!-- Botoes edit -->
    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef ></th>
        <td mat-cell *matCellDef="let resource">
            <span class="edit-buttons">
                <button class="btn btn-small p-1 text-danger"(click)="deleteResource(resource)"><fa-icon [icon]="faTrash"></fa-icon></button>
                <button class="btn btn-small p-1" (click)="openDialog(resource)"><fa-icon [icon]="faEdit"></fa-icon></button> 
              </span>                              
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container> 

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
      <td mat-cell *matCellDef="let resource"> {{ resource.total | currency:'BRL':'symbol':'0.2-2':'pt' }} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    
    <ng-container matColumnDef="entry">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Entrada </th>
      <td mat-cell *matCellDef="let resource"> {{ resource.entry | currency:'BRL':'symbol':'0.2-2':'pt' }} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    
    <ng-container matColumnDef="entryPct">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> % </th>
      <td mat-cell *matCellDef="let resource"> {{resource.entryPct | percent }} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    
    <ng-container matColumnDef="funding">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Financiamento </th>
      <td mat-cell *matCellDef="let resource"> {{resource.funding | currency:'BRL':'symbol':'0.2-2':'pt'}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    
    <ng-container matColumnDef="fundingPct">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> % </th>
      <td mat-cell *matCellDef="let resource"> {{resource.fundingPct | percent }} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="renovation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Reforma </th>
      <td mat-cell *matCellDef="let resource"> {{resource.renovation | currency:'BRL':'symbol':'0.2-2':'pt' }} </td>    
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="installment">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Vl. 1ª Parcela </th>
      <td mat-cell *matCellDef="let resource"> {{resource.installment | currency:'BRL':'symbol':'0.2-2':'pt' }} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="fundFees">
      <th mat-header-cell *matHeaderCellDef> Fin. Taxas </th>
      <td mat-cell *matCellDef="let resource"> {{resource.fundFeesText }} </td>    
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="composeIncome">
      <th mat-header-cell *matHeaderCellDef> Compor Renda </th>
      <td mat-cell *matCellDef="let resource"> {{ resource.composeIncomeText }} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>    

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let resource" [attr.colspan]="cols.length">
      <div class="resource-detail"
           [@detailExpand]="resource == expandedresource ? 'expanded' : 'collapsed'">
          <p class="resource-description">
              Data da simulação: <span class="font-weight-bold">{{ resource.simDate | date:"dd/MM/yyyy"}}</span> | Taxa de juros efetiva com bonificação: <span class="font-weight-bold">{{ resource.interest | number:'0.2-2':'pt'}}</span> % a.a. 0,64 % a.m. + TR | Custo Efetivo Total (CET) com bonificação: 8,60 % a.a. | Custo Efetivo do Seguro Habitacional (CESH): 2,4584 % | Prazo: <span class="font-weight-bold">{{ resource.term }}</span> anos																		
          </p>
      </div>
    </td>
  </ng-container>

    <tr mat-header-row *matHeaderRowDef="cols"></tr>
    <tr mat-row *matRowDef="let resource; columns: cols;"
        class="resource-row"
        [class.expanded-row]="expandedresource === resource"
        (click)="expandedresource = expandedresource === resource ? null : resource">
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row">        
    <tr mat-footer-row *matFooterRowDef="cols"></tr>
  </table>
  <div>
    <mat-paginator [pageSizeOptions]="[15, 25, 35]" showFirstLastButtons></mat-paginator>
  </div>  
</div>