.mat-column-edit .edit-buttons {
  display: inline-flex; 
}
 
.edit-buttons {
  visibility: hidden; 
  opacity: 0.4;
}

/* tr.resource-row:not(.expanded-row):hover {
  background: #c8cbcf;
} */

tr.resource-row:not(.expanded-row):active {
  background: #fff;
}

tr.mat-row:hover .edit-buttons {       
  visibility: visible;
}

tr.detail-row {
  height: 0;
}

.resource-row td {
  border-bottom-width: 0;
}

.resource-detail {
  overflow: hidden;
  display: flex;
}

.resource-description {
  padding: 0.5rem;
}

div.mat-list-item-content .mat-list-text {
  display: inline-block;
}