<mat-dialog-content class="p-0">
  <form [formGroup]="resourceForm" (submit)="submitForm()">   
    <mat-card class="w-auto">
        <button type="button" class="close" aria-label="Fechar" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>        
        <mat-card-header class="w-100"> 
            <mat-card-title ><app-page-header class="w-100" [page-title]="pageTitle" [show-button]="false"></app-page-header></mat-card-title>
        </mat-card-header>
        <mat-card-content class="clearfix">

          <div class="col-md-5 float-left">
            <!-- interest row -->
            <div class="form-row">   
              <!-- simDate -->
              <div class="form-group col-md-6">
                <mat-form-field class="w-100" [hideRequiredMarker]="true"> 
                  <input matInput [matDatepicker]="simDate" placeholder="Data da Simulação" required formControlName="simDate"> 
                  <mat-datepicker-toggle matSuffix [for]="simDate"></mat-datepicker-toggle>
                  <mat-datepicker #simDate></mat-datepicker>
                </mat-form-field> 
                <app-form-field-error [form-control]="resourceForm.get('simDate')"></app-form-field-error>
              </div>                  
              
              <!-- interest -->        
              <div class="form-group col-md-3">
                <mat-form-field class="w-100" [hideRequiredMarker]="true"> 
                  <input matInput placeholder="Taxa" required formControlName="interest" [imask]="imaskPercentConfig" [unmask]="true" > 
                  <span matSuffix>&nbsp;% a.a.</span>
                </mat-form-field>                   
                <app-form-field-error [form-control]="resourceForm.get('interest')"></app-form-field-error>
              </div>                                      
              
              <!-- interestAM -->        
              <div class="form-group col-md-3">
                <mat-form-field class="w-100" [hideRequiredMarker]="true"> 
                  <input matInput placeholder="Taxa" required formControlName="interestAM" [imask]="imaskPercentConfig" [unmask]="true" > 
                  <span matSuffix>&nbsp;% a.m. </span>
                </mat-form-field>                   
                <app-form-field-error [form-control]="resourceForm.get('interestAM')"></app-form-field-error>
              </div>              
            </div>
            
             <!-- interest row 2 -->
            <div class="form-row"> 
                <!-- cet -->        
                <div class="form-group col-md-4">
                  <mat-form-field class="w-100" [hideRequiredMarker]="true"> 
                    <input matInput placeholder="CET" required formControlName="cet" [imask]="imaskPercentConfig" [unmask]="true" > 
                    <span matSuffix>&nbsp;% a.a.</span>
                  </mat-form-field>                   
                  <app-form-field-error [form-control]="resourceForm.get('cet')"></app-form-field-error>
                </div>  
  
                <!-- cesh -->        
                <div class="form-group col-md-4">
                  <mat-form-field class="w-100" [hideRequiredMarker]="true"> 
                    <input matInput placeholder="CESH" required formControlName="cesh" [imask]="imaskPercentConfig" [unmask]="true" > 
                    <span matSuffix>&nbsp;% a.a.</span>
                  </mat-form-field>                   
                  <app-form-field-error [form-control]="resourceForm.get('cesh')"></app-form-field-error>
                </div>     
  
                <!-- term -->        
                <div class="form-group col-md-4">
                  <mat-form-field class="w-100" [hideRequiredMarker]="true"> 
                    <input matInput placeholder="Prazo" required formControlName="term" [imask]="imaskIntegerConfig" [unmask]="true" > 
                    <span matSuffix>&nbsp;anos</span>
                  </mat-form-field>                   
                  <app-form-field-error [form-control]="resourceForm.get('term')"></app-form-field-error>
                </div>  
            </div>
            
            <!-- funding options -->
            <div class="form-row">
              <!-- fundFees -->        
              <div class="form-group col-md-12">
                  <mat-slide-toggle [checked]="resourceForm.get('fundFees')" formControlName="fundFees">Financiar Taxas</mat-slide-toggle>
                <app-form-field-error [form-control]="resourceForm.get('fundFees')"></app-form-field-error>
              </div>  
            </div>
              
            <div class="form-row">
              <!-- composeIncome -->        
              <div class="form-group col-md-12">
                <mat-slide-toggle [checked]="resourceForm.get('composeIncome')" formControlName="composeIncome">Compor Renda</mat-slide-toggle>
                <app-form-field-error [form-control]="resourceForm.get('composeIncome')"></app-form-field-error>
              </div>                  
            </div>
              
          </div>

          <div class="col-md-7 float-left">

            <!-- compostion row -->
            <div class="form-row">
              <!-- composition -->        
              <div class="form-group col-md-12">
                <mat-form-field class="w-100" [hideRequiredMarker]="true"> 
                  <input matInput placeholder="Composição" required formControlName="composition"> 
                </mat-form-field>                   
                <app-form-field-error [form-control]="resourceForm.get('composition')"></app-form-field-error>
              </div>    
            </div>            
            
            <!-- Amounts row -->
            <div class="form-row"> 
              <!-- total -->        
              <div class="form-group col-md-4">
                <mat-form-field class="w-100" [hideRequiredMarker]="true"> 
                  <input matInput placeholder="Total" required formControlName="total" [imask]="imaskAmountConfig" [unmask]="true">  
                  <span matPrefix>R$&nbsp;</span>
                </mat-form-field>                   
                <app-form-field-error [form-control]="resourceForm.get('total')"></app-form-field-error>
              </div>  

              <!-- entry -->        
              <div class="form-group col-md-4">
                <mat-form-field class="w-100" [hideRequiredMarker]="true"> 
                  <input matInput placeholder="Entrada" required formControlName="entry" [imask]="imaskAmountConfig" [unmask]="true">  
                  <span matPrefix>R$&nbsp;</span>
                </mat-form-field>                   
                <app-form-field-error [form-control]="resourceForm.get('entry')"></app-form-field-error>
              </div>  
              
              <!-- entryPct -->        
              <div class="form-group col-md-4">
                <mat-form-field class="w-100" [hideRequiredMarker]="true"> 
                  <input matInput placeholder="% Entrada" required formControlName="entryPct" [imask]="imaskPercentConfig" [unmask]="true" > 
                  <span matSuffix>&nbsp;%</span>
                </mat-form-field>                   
                <app-form-field-error [form-control]="resourceForm.get('entryPct')"></app-form-field-error>
              </div>  

            </div>            
            
            <!-- Amounts row -->
            <div class="form-row">  
              <!-- funding -->        
              <div class="form-group col-md-4">
                <mat-form-field class="w-100" [hideRequiredMarker]="true"> 
                  <input matInput placeholder="Financiamento" required formControlName="funding" [imask]="imaskAmountConfig" [unmask]="true" >  
                  <span matPrefix>R$&nbsp;</span>
                </mat-form-field>                   
                <app-form-field-error [form-control]="resourceForm.get('funding')"></app-form-field-error>
              </div>   
              
              <!-- fundingPct -->        
              <div class="form-group col-md-4">
                <mat-form-field class="w-100" [hideRequiredMarker]="true"> 
                  <input matInput placeholder="% Financiamento" required formControlName="fundingPct" [imask]="imaskPercentConfig" [unmask]="true" > 
                  <span matSuffix>&nbsp;%</span>
                </mat-form-field>                   
                <app-form-field-error [form-control]="resourceForm.get('fundingPct')"></app-form-field-error>
              </div>   
              
              <!-- renovation -->        
              <div class="form-group col-md-4">
                <mat-form-field class="w-100" [hideRequiredMarker]="true"> 
                  <input matInput placeholder="Reforma" required formControlName="renovation" [imask]="imaskAmountConfig" [unmask]="true" >  
                  <span matPrefix>R$&nbsp;</span>
                </mat-form-field>                   
                <app-form-field-error [form-control]="resourceForm.get('renovation')"></app-form-field-error>
              </div>               
            </div>   

            <!-- installment row -->
            <div class="form-row">
              <!-- installment -->        
              <div class="form-group col-md-4">
                <mat-form-field class="w-100"> 
                  <input matInput placeholder="Vl. 1a. Parcela" required formControlName="installment" [imask]="imaskAmountConfig" [unmask]="true" > 
                  <span matPrefix>R$&nbsp;</span>
                </mat-form-field>             
                <app-form-field-error [form-control]="resourceForm.get('installment')"></app-form-field-error>
                
              </div>            
            </div>
            
          </div>
          
        </mat-card-content>
        <mat-card-actions class="text-right">
          <button type="submit" class="btn btn-warning btn-lg" [disabled]="submittingForm || resourceForm.invalid">
            <fa-icon [icon]="faSave"></fa-icon>&nbsp;Salvar
          </button>
        </mat-card-actions>
    </mat-card>
  </form>
</mat-dialog-content>
