<app-page-header page-title="Pagamentos MaxHaus" [show-button]="false"></app-page-header>

<table mat-table #table [dataSource]="resources" class="table-fit table-hover mat-thead-dark mb-5">

  <!-- Beneficiario -->
  <ng-container matColumnDef="recipient" >
    <th mat-header-cell *matHeaderCellDef> Beneficiário </th>
    <td mat-cell *matCellDef="let resource"> {{resource.recipient}} </td>
    <td mat-footer-cell *matFooterCellDef>
      <button class="btn btn-small p-0" routerLink="new"><fa-icon [icon]="faPlus"></fa-icon></button>
      <button class="btn btn-small p-0" (click)="openDialog()"><fa-icon [icon]="faPlus"></fa-icon></button>
    </td>
  </ng-container>
  
  <!-- Botoes edit -->
  <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef ></th>
      <td mat-cell *matCellDef="let resource">
          <span class="edit-buttons">
              <button class="btn btn-small p-1 text-danger"(click)="deleteResource(resource)"><fa-icon [icon]="faTrash"></fa-icon></button>
              <button class="btn btn-small p-1" [routerLink]="[resource.id, 'edit']"><fa-icon [icon]="faEdit"></fa-icon></button> 
              <button class="btn btn-small p-1" (click)="openDialog(resource)"><fa-icon [icon]="faEdit"></fa-icon></button> 
            </span>                              
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
  </ng-container> 

  <ng-container matColumnDef="dueDate">
    <th mat-header-cell *matHeaderCellDef> Dt. Vencimento </th>
    <td mat-cell *matCellDef="let resource"> {{ resource.dueDate | date:"dd/MM/yyyy" }} </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  
  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef> Valor </th>
    <td mat-cell *matCellDef="let resource"> {{ resource.amount | currency:'BRL':'symbol':'0.0-2':'pt' }} </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  
  <ng-container matColumnDef="payDate">
    <th mat-header-cell *matHeaderCellDef> Dt. Pagamento </th>
    <td mat-cell *matCellDef="let resource"> {{resource.payDate | date:"dd/MM/yyyy"}} </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  
  <ng-container matColumnDef="payAmount">
    <th mat-header-cell *matHeaderCellDef> Valor Pago </th>
    <td mat-cell *matCellDef="let resource"> {{resource.payAmount | currency:'BRL':'symbol':'0.0-2':'pt'}} </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>
  
  <ng-container matColumnDef="auth">
    <th mat-header-cell *matHeaderCellDef> Autenticação </th>
    <td mat-cell *matCellDef="let resource"> {{resource.auth}} </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="account">
    <th mat-header-cell *matHeaderCellDef> Conta Destino </th>
    <td mat-cell *matCellDef="let resource"> {{resource.account | account }} </td>    
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="cnpj">
    <th mat-header-cell *matHeaderCellDef> CNPJ </th>
    <td mat-cell *matCellDef="let resource"> {{resource.cnpj | cnpj}} </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="cols"></tr>
  <tr mat-row *matRowDef="let row; columns: cols;"></tr>
  <tr mat-footer-row *matFooterRowDef="cols"></tr>
</table>
