<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <a class="navbar-brand" routerLink="/"><fa-icon [icon]="faHome" class="text-warning"></fa-icon>&nbsp;MaxHaus Lab</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/reports"><fa-icon [icon]="faChartPie"></fa-icon> Dashboard</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/payments"><fa-icon [icon]="faFileInvoiceDollar"></fa-icon> Pagamentos</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/simulations"><fa-icon [icon]="faFlask"></fa-icon> Simulações</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/savings"><fa-icon [icon]="faPiggyBank"></fa-icon> Economias</a>
      </li>
    </ul>
  </div>
</nav>